{% block title %}{% endblock %}

{% block head %}
<h1> Mon Panier</h1>
<meta charset="UTF-8">
{% endblock %}

{% block body %}


<input type="button" value="Continuer mes achats" onclick="window.location.href = '/';" style="float: left;">

{% block stylesheets %}

<link re="stylesheet" href="index.css">

{% endblock %}

{% endblock %}
